In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
df=pd.read_excel('flight_price.xlsx')

In [3]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [5]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [6]:
df['day']=df['Date_of_Journey'].str.split('/').str[0]
df['month']=df['Date_of_Journey'].str.split('/').str[1]
df['year']=df['Date_of_Journey'].str.split('/').str[2]

In [7]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019

In [8]:
df['day']=df['day'].astype('int')
df['month']=df['month'].astype('int')
df['year']=df['year'].astype('int')

In [9]:
df['year'].astype

<bound method NDFrame.astype of 0        2019
1        2019
2        2019
3        2019
4        2019
         ...
10678    2019
10679    2019
10680    2019
10681    2019
10682    2019
Name: year, Length: 10683, dtype: int32>

In [10]:
df.drop('Date_of_Journey',axis=1,inplace=True)

In [11]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019

In [20]:
df['Arrival_hours']=df['Arrival_Time'].str.split(' ').str[0].str.split(':').str[0]
df['Arrival_minutes']=df['Arrival_Time'].str.split(' ').str[0].str.split(':').str[1]

In [22]:
df.drop('Arrival_Time',axis=1,inplace=True)

In [24]:
df.dtypes

Airline            object
Source             object
Destination        object
Route              object
Dep_Time           object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
day                 int32
month               int32
year                int32
Arrival_hours      object
Arrival_minutes    object
dtype: object

In [25]:
df['Arrival_hours']=df['Arrival_hours'].astype('int')
df['Arrival_minutes']=df['Arrival_minutes'].astype('int')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   day              10683 non-null  int32
 10  month            10683 non-null  int32
 11  year             10683 non-null  int32
 12  Arrival_hours    10683 non-null  int32
 13  Arrival_minutes  10683 non-null  int32
dtypes: int32(5), int64(1), object(8)
memory usage: 959.9+ KB

In [28]:
df['Dep_hr']=df['Dep_Time'].str.split(':').str[0]
df['Dep_min']=df['Dep_Time'].str.split(':').str[1]
df.drop('Dep_Time',axis=1,inplace=True)

In [29]:
df['Dep_hr']=df['Dep_hr'].astype('int')
df['Dep_min']=df['Dep_min'].astype('int')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   day              10683 non-null  int32
 9   month            10683 non-null  int32
 10  year             10683 non-null  int32
 11  Arrival_hours    10683 non-null  int32
 12  Arrival_minutes  10683 non-null  int32
 13  Dep_hr           10683 non-null  int32
 14  Dep_min          10683 non-null  int32
dtypes: int32(7), int64(1), object(7)
memory usage: 959.9+ KB

In [31]:
df.drop('Route',axis=1,inplace=True)

In [32]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,day,month,year,Arrival_hours,Arrival_minutes,Dep_hr,Dep_min
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1 stop,No info,6218,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1 stop,No info,13302,1,3,2019,21,35,16,50

In [75]:
df['Duration_hr']=df['Duration'].str.split(' ').str[0].str.split('h').str[0]
df['Duration_min']=df['Duration'].str.split(' ').str[1].str.split('m').str[0]
df['Duration_hr']=df['Duration_hr'].astype('int')

df.drop('Duration',axis=1,inplace=True)

In [78]:
df['Dep_hr']=df['Dep_hr'].astype('int')

In [79]:
values={'Duration_min':0}

In [82]:
df.fillna(value=values,inplace=True)

In [83]:
df['Duration_min']=df['Duration_min'].astype('int')

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Total_Stops      10682 non-null  object
 4   Additional_Info  10683 non-null  object
 5   Price            10683 non-null  int64
 6   day              10683 non-null  int32
 7   month            10683 non-null  int32
 8   year             10683 non-null  int32
 9   Arrival_hours    10683 non-null  int32
 10  Arrival_minutes  10683 non-null  int32
 11  Dep_hr           10683 non-null  int32
 12  Dep_min          10683 non-null  int32
 13  Duration_hr      10683 non-null  int32
 14  Duration_min     10683 non-null  int32
dtypes: int32(9), int64(1), object(5)
memory usage: 876.5+ KB

In [89]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [90]:
df['Total_Stops'].mode()

0    1 stop
Name: Total_Stops, dtype: object

In [103]:
df[df['Total_Stops'].isna()]

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,day,month,year,Arrival_hours,Arrival_minutes,Dep_hr,Dep_min,Duration_hr,Duration_min
9039,Air India,Delhi,Cochin,NaN,No info,7480,6,5,2019,9,25,9,45,23,40

In [117]:
df['Total_Stops'].isna().sum()

1

In [114]:
df.fillna({'Total_Stops':df['Total_Stops'].mode()},inplace=True)

In [116]:
df.loc[9039]

Airline            Air India
Source                 Delhi
Destination           Cochin
Total_Stops              NaN
Additional_Info      No info
Price                   7480
day                        6
month                      5
year                    2019
Arrival_hours              9
Arrival_minutes           25
Dep_hr                     9
Dep_min                   45
Duration_hr               23
Duration_min              40
Name: 9039, dtype: object

In [121]:
df['Total_Stops'].isnull().sum()

0

In [119]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, '4 stops':4,np.nan:1})

In [120]:
df['Total_Stops']

0        0
1        2
2        2
3        1
4        1
        ..
10678    0
10679    0
10680    0
10681    0
10682    2
Name: Total_Stops, Length: 10683, dtype: int64

In [124]:
from sklearn.preprocessing import OneHotEncoder

In [125]:
encoder=OneHotEncoder()

In [147]:
encode=pd.DataFrame(encoder.fit_transform(df[['Additional_Info']]).toarray(),columns=encoder.get_feature_names_out())

In [148]:
df.drop(['Additional_Info'],axis=1,inplace=True)

In [151]:
data=pd.concat([data,encode],axis=1)

In [152]:
data.head()

,Total_Stops,Price,day,month,year,Arrival_hours,Arrival_minutes,Dep_hr,Dep_min,Duration_hr,...,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,0,3897,24,3,2019,1,10,22,20,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2,7662,1,5,2019,13,15,5,50,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2,13882,9,6,2019,4,25,9,25,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6218,12,5,2019,23,30,18,5,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,13302,1,3,2019,21,35,16,50,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0